
/*===============Propiedades Gs================*/

@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

body {
    font-family:'Montserrat', sans-serif;
    overflow-x: hidden;
}

#body-contacto {
    background-color:rgb(36, 94, 41);
}

#articulo-educa h4 {
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}


/*===================MENU==========================*/

#menu li > a {
    font-size:18px;
    font-weight: bold;
    color: #3f3f3f;
}

#menu form > button {
    font-size:18px;
    font-weight: bold;
}

/*===================SLIDER DE IMAGENES==========================*/

.carousel-inner {
    max-height: 39rem;
}

/*=========================CONTACTOS FORMULARIO================================*/
    #contenedor-formulario {
        position: relative;
        top: 0;
        left: 0;
        transform: translate(0, 0);
        background: #bbbdc0;
        border-radius: 5px;
        width: 100%;
        max-width: 500px;
        margin: 20px auto;
        border: 2px solid rgb(137, 177, 114);
    }

#titulo-formulario {
    color: #3f3f3f;
}

/*=========================FOOTER================================*/

footer {
    background: #1b2a4e;
    min-height: 100px;
}

footer p {
    color: #f3f3f3;
    text-align: center;
}

/*=========================MEDIA QUERIES PANTALLA ANCHA================================*/
@media (max-width:1200px){

}

/*=========================MEDIA QUERIES PANTALLA SM================================*/
@media (max-width:768px) {
    #intro, #equipo {
        width: 90% !important;
    }

    .servicio-fila {
        width: 100% !important;
        text-align: center;
    }
}

/*=========================MEDIA QUERIES PANTALLA EXTRA-SM================================*/

@media (max-width: 576px) {
    
}

/*===================TABLA-HUELLA==========================*/
.table-container {
    overflow-x: auto;
  }
  
  .table {
    width: 100%;
    border-collapse: collapse;
  }
  
  .table th, .table td {
    border: 1px solid #ddd;
    padding: 8px;
  }

  .table tr:hover {background-color: #76b188;}

/*===================REFERENCIAS==========================*/
.referencias {
    text-align: left;
    text-indent: 30px;
}

/*===================CARDS==========================*/
#card {
    width: 70%;
    margin: auto;
}

.card-title {
    font-weight: bold;
}

#card-aztec {
    object-fit: cover; 
    margin: auto; 
       
}

#card-ecomerida {
    object-fit: cover; 
    margin: auto; 
}
